@import 'flexbox.less';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

@sticky-width: 300px;
@left-width: 300px;

.table-slice-wrapper {
	.table-slice {
		overflow: hidden;

		&.nw,
		&.ne
		{
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;

			tbody, tfoot {
				display: none;
			}
		}

		&.w,
		&.e
		{
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;

			thead, tfoot {
				visibility: hidden;
			}
		}

		&.sw,
		&.se
		{
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;

			thead, tbody {
				display: none;
			}
		}

		&.nw,
		&.w,
		&.sw
		{
			/*width: @left-width;*/
		}

		&.ne,
		&.e,
		&.se
		{
			right: 0;
		}

		&.nw { z-index: 3; }
		&.ne { z-index: 2; }
		&.w {  z-index: 2; }
		&.e {  z-index: 1; }
		&.sw { z-index: 3; }
		&.se { z-index: 2; }

		&.e {
			overflow: auto;
		}

	}

	table {
		table-layout: fixed;
	}
}

.table-slice-wrapper {
	.table-slice {
		&.nw,
		&.w,
		&.sw
		{
			border-right: 1px solid #999;
		}

		&.sw,
		&.se
		{
			border-top: 1px solid #999;
		}
	}
}

#main-content {
	position: absolute;
	top: -999999px;
	left: -999999px;
}

#main-content,
.table-slice
{
	background-color: #fff;

	input[type="text"] {
		width: 150px;
		padding: 2px;
		border-radius: 5px;
		border: 1px solid #ccc;

		&:hover {
			border: 1px solid #999;
		}

		&:focus {
			border: 1px solid #555;
		}
	}

	th, td {
		white-space: nowrap;
		padding: 5px 10px;
	}

	th {
		font-weight: 600;
	}

	thead {
		background: rgba(0, 0, 0, 0.8);
		color: #efefef;
	}

	tbody {
		color: #555;

		tr:nth-child(even) {
			background: rgba(0, 0, 0, 0.05);
		}

		td:nth-child(even) {
			background: rgba(0, 0, 0, 0.03);
		}
	}

	tfoot {
		background: rgba(0, 0, 0, 0.1);

		tr:nth-child(even) {
			background: rgba(0, 0, 0, 0.05);
		}

		td:nth-child(even) {
			background: rgba(0, 0, 0, 0.03);
		}
	}

	tbody, tfoot {
		td.low {
			background: rgba(255, 0, 0, 0.2);
		}

		td.mid {
			background: rgba(255, 255, 0, 0.2);
		}

		td.high {
			background: rgba(255, 0, 0, 0.4);
		}

		tr.rdi td.low {
			color: rgb(255, 0, 0);
		}

		tr.ul td.high {
			color: rgb(255, 0, 0);
		}
	}

	tfoot {
		.adjust input {
			display: none;
		}
	}
}


#breakdown {
	@pad: 5px;
	@border: 2px;

	.flexbox();
	.flex-direction(column);
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 0;

	font-weight: bold;
	color: #fff;

	h4 {
		display: inline-block;
		margin: 0;
	}

	.calories,
	{
		.flex(1);
		padding: @pad;
		border-bottom: @border solid #fff;

		.qty {
			float: right;
			font-size: 20px;
		}
	}

	.nutrients {
		.flexbox();
		.flex(2);

		.protein,
		.carbohydrate,
		.fat {
			.flex(1);
			display: inline-block;
			position: relative;
			padding: @pad;
			border-right: @border solid #fff;

			.qty {
				position: absolute;
				top: @pad;
				right: @pad;
			}

			.percentage {
				display: block;
				font-size: 28px;
				text-align: center;
			}
		}

		:last-child {
			border-right: 0 none;
		}
	}

	.calories {
		background-color: #555;
	}

	.protein {
		background-color: rgb(188, 95, 84);
	}

	.carbohydrate {
		background-color: rgb(75, 184, 154);
	}

	.fat {
		background-color: rgb(228, 177, 1);
	}

}

x-target-picker {
	display: block;

	x-option {
		display: block;
	}
}
